/data/raw/
/data/processed/
/experiments/*
!/experiments/.config.yaml
!/experiments/config_hyp.yaml
!/experiments/rerun_list.yaml
!/experiments/experiments_results
!/experiments/experiments_results/*
__pycache__
.DS_Store

echo "*.pth" >> .gitignore
echo "notebooks/experiments/experiment_*/train_dataset.pth" >> .gitignore
echo "notebooks/experiments/experiment_*/val_dataset.pth" >> .gitignore
echo "notebooks/experiments/experiment_*/test_dataset.pth" >> .gitignore*.pth
*.tfevents.*
logs/
